.LoginWrapper {
    background-color: darkgreen;
    padding: 10px;
    margin-top: 10vh;
    background: rgb(228,216,255);
    background: linear-gradient(90deg, rgba(228,216,255,1) 35%, rgba(216,240,255,1) 100%);
    height: 60vh;
    width: 30vw;
    min-width: 400px;
    display: flex;
}

.Login {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background: rgb(228,216,255);
    background: linear-gradient(180deg, rgba(228,216,255,1) 35%, rgba(216,240,255,1) 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .LoginWrapper {
        width: 100vw;
        height: 100vh;
        padding: 0px;
        margin: 0px;
    }
}

.Login > div {
    display: grid;
    grid-template-columns: 35px minmax(100px, 100%);
}

.Login .title {
    padding-bottom: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.Login .error {
    padding: 15px;
    font-size: 18px;
    display: flex;
}

.Login .input .icon {
    height: 35px;
    width: 35px;
    background-color: #7b62af;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login .input .icon i {
    color: #FFF;
}

.Login .input > input[type=text] {
    margin-bottom: 10px;
}

.Login .input > input[type="password"] {
    margin-bottom: 10px;
}

.Login .login-button {
    border: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 40px;
    height: 50px;
}

.Login .login-button:active {
    background-color: #03045E;
}