.Login {
    margin-top: 50px;
    background-color: #CAF0F8;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login > div {
    display: grid;
    grid-template-columns: 35px minmax(100px, 100%);
}

.Login .title {
    padding-bottom: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.Login .error {
    padding: 15px;
    font-size: 18px;
    color: #f86624;
    display: flex;
}

.Login .input .icon {
    height: 35px;
    width: 35px;
    background-color: #90E0EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login .input > input[type=text] {
    height: 35px;
    font-size: 15px;
    border: none;
    margin-bottom: 10px;
    color: #11151C;
    outline: none;
}

.Login .input > input[type="password"] {
    height: 35px;
    font-size: 15px;
    border: none;
    margin-bottom: 10px;
    color: #11151C;
    outline: none;
}

.Login .login-button {
    border: none;
    font-size: 20px;
    padding: 6px;
    background-color: #023E8A;
    outline: none;
    color: #FFFFFF;
}

.Login .login-button:active {
    background-color: #03045E;
}