.Chats {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px minmax(auto, 100%);
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
    /*.Chats {
        display: none;
    }*/
    .hidePanelToLeft {
        background: rgb(228,216,255);
        background: linear-gradient(90deg, rgba(228,216,255,1) 35%, rgba(216,240,255,1) 100%);
        position: fixed;
        top: 110px;
        width: 100%;
        height: max-content;
        margin: 0px;
        left: -100%;
        transition-duration: 0.4s;
    }
    .showPanelFromLeft {
        left: 0px;
        transition-duration: 0.4s;
    }
    .Chats > .container {
        margin: 1px 20px;
    }
}

.Chats > .title {
    display: grid;
    grid-template-columns: minmax(50px, 100%) 50px;
    grid-template-rows: auto;
}

.Chats > .title > p {
    text-align: center;
    font-size: 16px;
}

.Chats > .title > button {
    border: none;
    height: 100%;
}

.Chats > .title > button i {
    color: #fff;
}

@media only screen and (min-width: 700px) {
    .Chats > .title > button {
        display: none;
    }
    .Chats > .title > p {
        grid-column: 1/3;
    }
}

.Chats > .container {
    display: grid;
    row-gap: 10px;
    align-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.Chats .container > .chat {
    background-color: #CAF0F8;
    padding: 10px;
    display: grid;
    cursor: pointer;
}

.Chats .chat > .title {
    font-size: 18px;
}

.Chats .chat > .message {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none; 
}

.Chats .chat > .info {
    pointer-events: none;
    font-size: 11px;
    text-align: right;
    font-weight: 400;
}