.NotFound {
    z-index: 1;
    background: rgb(228,216,255);
    background: linear-gradient(180deg, rgba(228,216,255,1) 35%, rgba(216,240,255,1) 100%);
    height: 80vh;
    width: 70vw;
    margin: 10vh 0px 0px 250px;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #7b62af;
    font-size: 26px;
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    .NotFound {
        margin: 0px;
        height: 100vh;
        width: 100vw;
    }   
}